extends admin_card_base.jade
block conteudo
  a.btn.white-text.waves-effect.waves-light(href="#") Ativar
  a.btn.white-text.waves-effect.waves-light.orange(href="#") Editar  
  a.btn.white-text.waves-effect.waves-light.red.confirmar.modal-trigger(href="#modal") Excluir
