div.row.opcoes
  a(href="autor_index.html") Eventos Ativos
  a(href="autor_meus_trabalhos.html") Meus Trabalhos
  a(href="../paginas_organizador/org_revisores.html") Revisores 
  a(href="../paginas_organizador/org_trilhas.html") Trilhas 
   
