div.col.s12.m7
  div.card.horizontal
    div.card-stacked
      div.card-content
        h5 Nome do Eventos
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
          |ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          |ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          | in voluptate velit 
        
        p Início da Submissão: 00/00/0000
        p Fim da Submissão: 00/00/0000
      div.card-action
        block conteudo
