div.col.m6.s12
  div.card
    div.card-content
      span.card-title Nome do Evento
      p.
        Organizador: João da Silva Sauro
      p.
        Visibilidade: Privado
    div.card-action
      a.btn.white-text.waves-effect.waves-light(href="#") Ativar
      a.btn.white-text.waves-effect.waves-light.orange(href="#") Editar  
      a.btn.white-text.waves-effect.waves-light.red.confirmar(href="admin_ativos.html") Excluir
