div.col.m6.s12
  div.card
    div.card-content
      span.card-title Nome do Evento
      p.
        Organizador: João da Silva Sauro
      p.
        Visibilidade: Privado
    div.card-action
      a.btn.white-text.purple.darken-4.waves-effect.waves-light(href="#") Inativar
        i.left.material-icons not_interested
