div.col.m6.s12
  div.card
    div.card-content
      span.card-title Nome do Evento
      p.
        Organizador: João da Silva Sauro
      p.
        Visibilidade: Privado
    div.card-action
      block conteudo
