div.col.s4
  div.card.horizontal.small
    div.card-stacked
      div.card-content
        span.card-title Revisores do Evento
        p Número de trilhas: 0
      div.card-action
        a.btn.white-text.waves-effect.waves-light.blue-grey(href="#") Gerenciar Revisores
