div.col.s4
  div.card.horizontal.small
    div.card-stacked
      div.card-content
        span.card-title Nome do Artigo
        p Autor: João da Silva
        p Orientador: Thiago Nogueira
        block conteudo
