extends org_card_lista_trabalhos
block conteudo
    p Revisores: Bruno Goes
    p Revisores: Mohamed Mustafari
      div.card-action
        a.btn.white-text.waves-effect.waves-light.blue-grey(href="#") Revisor Alocado
