mixin calendario(titulo, identificador, habilitado)
  div.col.m3.s12
    div.card-content
      span.card-title 
        = titulo
      if(habilitado == true)
        input.datepicker(type="date" id=identificador)
      else
        input.datepicker(type="date" id=identificador disabled)
