div.col.s12
  div.card.horizontal
    div.card-stacked
      div.card-content
        div.row
          span.card-title Datas do Evento
        div.row
          div.col.s3
            p Prazo de Submiss達o - Inicio
            p 00/00/0000
          div.col.s3
            p Prazo de Submiss達o - Final
            p 00/00/0000
          div.col.s3
            p Prazo de Revis達o - Inicio
            p 00/00/0000
          div.col.s3
            p Prazo de Revis達o - Final
            p 00/00/0000
