div.col.s12.m7
  div.card.horizontal
    div.card-stacked
      div.card-content
        h5 Titulo do Trabalho
        
        p 
          b Revisor: Mestre dos Magos
        p 
          b Autor: Neo do Matrix
        
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
          |ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          |ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          | in voluptate velit 
        
        
