div.row
  div.card.horizontal
    div.card-stacked
      div.card-content
        span.card-title Nome do Evento
        p | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
          | fugiat nulla 
      div.card-action
        a.waves-effect.waves-light.btn-large.white-text Ver Evento
      
          
            
