mixin avaliacao()  
    div.input-field
      select
        option(value="" disabled selected) Escolha uma opção.
        option(value="Não Conhecedor") Não Conhecedor
        option(value="Conhecedor") Conhecedor
        option(value="Especialista" ) Especialista
