div.col.s6
  div.card.horizontal.small
    div.card-stacked
      div.card-content
        span.card-title Mérito Técnico
        p Motivação, fundamentação teórica, metodologia. Para trabalhos que apresentam resultados, avaliar a aquisição e conclusões acerca dos resultados encontrados. Para trabalhos em andamento, avaliar os resultados esperados e o alcance dos resultados dado os objetivos de pesquisa e experimentos propostos.
      div.card-action
        include ../jade_componentes/revisor_combobox_mixin.jade
        +avaliacao()
