div.col.m6.s12
  div.card.horizontal.small
    div.card-stacked
      div.card-content
        span.card-title Originalidade
        p Tema atual e inovador, contribuição científica clara (quando tiver resultados), abordagem ou solução inovadora.
      div.card-action
        include ../jade_componentes/revisor_combobox_mixin.jade
        +avaliacao()
