div.row
  div.card.horizontal
    div.card-stacked
      div.card-content
        span.card-title Nome do Evento
        p | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
          | fugiat nulla 
        h5 Início da Submissão: 00/00/0000
        h5 Fim da Submissão: 00/00/0000
      div.card-action
        a.waves-effect.waves-light.btn-large.white-text(href="revisor_evento_index.html") Ver Evento
        a.waves-effect.waves-light.btn-large.white-text.blue-grey.modal-trigger(href="#modal") Participar
