mixin avaliacao()  
    div.input-field
      select
        option(value="" disabled selected) Escolha uma opção.
        option(value="RUIM") RUIM
        option(value="FRACO") FRACO
        option(value="MEDIO" ) MEDIO
        option(value="BOM" ) BOM
        option(value="OTIMO" ) OTIMO
        
        
