div.col.s6
  div.card.horizontal.small
    div.card-stacked
      div.card-content
        span.card-title Qualidade do Texto
        p Redação do texto adequada: respeito pelas normas, bibliografia, redação correta em Português/Inglês. Respeito pela formatação especificada pelo edital (tamanho de fonte, espaçamento, tamanho máximo e mínimo).
      div.card-action
        include ../jade_componentes/revisor_combobox_mixin.jade
        +avaliacao()
