//output:admin_ativos.html, pretty: true
extends base.jade
block conteudo
  include ./jade_componentes/opcoes_admin.jade  
  div.row
    h2 Lista de Eventos Ativos

    include ./jade_componentes/card_ativo_admin.jade
    include ./jade_componentes/card_ativo_admin.jade
    include ./jade_componentes/card_ativo_admin.jade
    include ./jade_componentes/card_ativo_admin.jade
