//output:admin_inativos.html, pretty: true
extends base.jade
block conteudo
  include ./jade_componentes/admin_opcoes.jade  
  div.row
    h2 Lista de Eventos Inativos

    include ./jade_componentes/admin_card_inativo.jade
    include ./jade_componentes/admin_card_inativo.jade
    include ./jade_componentes/admin_card_inativo.jade
    include ./jade_componentes/admin_card_inativo.jade
