//output:base.html, pretty:true
doctype html
html
  include header.jade
  body
    include nav.jade
    
    div.container.page
      br
      block conteudo
        
    
    include footer.jade
    include script.jade
