//output:org_revisores.html, pretty:true
extends org_base.jade
block conteudo
  include ../jade_componentes/org_opcoes.jade  
  div.row
    h2 Revisores
    
    div.row.chip.red.white-text#error_area "Mensagem de Erro"
      i.material-icons close
    
    a.col.s2.offset-s10.btn.white-text.waves-effect.waves-light.modal-trigger(href="#modal_adicionar_revisor") Revisor
      i.fa.fa-plus.left
    
    div.row
      h5 Revisores cadastrados
      table.striped.centered.responsive-table
        thead
          tr
            th Nome
            th Trabalhos Atribuídos
            th Ações
        tbody
          tr
            td João da Silva Sauro
            td 0
            td 
              a.modal-trigger(href="#modal_excluir_revisor") Remover Revisor
          tr
            td Marlene da Xuxa
            td 2
            td 
              a.disabled.modal-trigger(href="#modal_excluir_revisor") Remover Revisor
  
  form
    div#modal_adicionar_revisor.modal
      div.modal-content
        h4 Adicionar Revisor
          div.input-field.col.m6.s6
            input#nome_revisor(type="text")
            label(for="nome_revisor") Nome do Revisor
      div.modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat(href="#") Confirmar
        a.modal-action.modal-close.waves-effect.btn-flat(href="#") Cancelar
  
  div#modal_excluir_revisor.modal
    div.modal-content
      h4 Excluir Revisor
      h5 "Fulano de Tal" será excluído.
      p Tem certeza que deseja excluir este revisor?
    div.modal-footer
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Confirmar
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Cancelar        
  
  div#paginacao
    include ../jade_componentes/paginacao_mixin.jade
    +paginacao(11, 10)
          
