//output:org_trilhas.html, pretty:true
extends org_base.jade
block conteudo
  include ../jade_componentes/org_opcoes.jade
  div.row
    h2 Trilhas do Evento : "Nome do Evento"
    
    div.row.chip.red.white-text#error_area "Mensagem de Erro"
      i.material-icons close
    
    form.col.s12
      div.row
      div.input-field.col.m3.offset-m10  
        a.waves-effect.waves-light.btn.white-text.modal-trigger(href="#modal") Trilha
          i.fa.fa-plus.left(aria-hidden="true")  
      div.row
        div.input-field.col.m12.s12
          table.striped.centered
            thead
              tr 
                th Trilha
                th Trabalhos Enviados
                th Ações
            tbody              
              tr
                td Trilha Padrão
                td 0
                td 
                  a(href='org_detalhes_trilha.html') Ver Trilha
              tr
                td Trilha de lot
                td 2
                td 
                  a(href='org_detalhes_trilha.html') Ver Trilha
              tr
                td Trilha de hue
                td 2
                td 
                  a(href='org_detalhes_trilha.html') Ver Trilha      

      div#paginacao          
        include ../jade_componentes/paginacao_mixin.jade
        +paginacao(11, 10)                            
      
  div#modal.modal
    div.modal-content
      h4 Adicionar Trilha
      form
        div.input-field.col.m6.s6
          input#nome_da_trilha(type="text")
          label(for="nome_da_trilha") Nome da Trilha
    div.modal-footer
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Confirmar
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Fechar            
                    
