//output:org_trabalho_detalhes.html, pretty:true
extends org_base.jade
block conteudo
  include ../jade_componentes/org_opcoes.jade
  div.row
    h2 "Nome da Trilha"
  
  div.chip.red.white-text "Mensagem de Erro"
    i.material-icons close
  
  h4 Detalhes do Trabalho
      
  div.row
    div.input-field.col.m12.s6
      table.striped.centered
        thead
          tr 
            th Titulo
            th Aluno
            th Ações
            
        tbody              
          tr
            td Um middleware para cidades inteligentes baseados em nuvem
            td Thiago Nogueira
            td                 
              a.btn-floating.red
                i.material-icons insert_chart

              a.btn-floating.yellow.darken-1
                i.material-icons format_quote
                
              a.btn-floating.green
                i.material-icons publish
                
              a.btn-floating.blue
                i.material-icons attach_file    
                
  div#modalExcluir.modal
    div.modal-content
      h4 Excluir Trilha
      p Tem certeza que quer excluir essa Trilha?
    div.modal-footer
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Confirmar
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Fechar 
      
  div#modalTrilha.modal
    div.modal-content
      h4 Alterar nome da Trilha
      form
        div.input-field.col.m6.s6
          input#nome_do_revisor(type="text")
          label(for="nome_do_revisor") Nome da Trilha
    div.modal-footer
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Alterar
      a.modal-action.modal-close.waves-effect.btn-flat(href="#") Fechar
