//output:admin_ativos.html, pretty: true
extends admin_base.jade
block conteudo
  include ../jade_componentes/admin_opcoes.jade  
  div.row
    h2 Lista de Eventos Ativos

    include ../jade_componentes/admin_card_ativo.jade
    include ../jade_componentes/admin_card_ativo.jade
    include ../jade_componentes/admin_card_ativo.jade
    include ../jade_componentes/admin_card_ativo.jade
    
    
