//output:revisor_index.html, pretty: true
extends revisor_base.jade
block conteudo
  include ../jade_componentes/revisor_opcoes.jade  
  div.row
    h2 Lista de Eventos
      
    div
      div.row.chip.red.white-text#error_area "Mensagem de Erro"
        i.material-icons close
      
    
    div.row
      div.input-field
        input.col.s11#pesquisar(type="text")
        label(for="pesquisar") Procurando um evento específico?
        a.btn-floating.btn-large.waves-effect.waves-light
          i.material-icons search
    
    div.row
      include ../jade_componentes/revisor_card_evento.jade
      include ../jade_componentes/revisor_card_evento.jade
      include ../jade_componentes/revisor_card_evento.jade
    
    include ../jade_componentes/paginacao_mixin.jade
    +paginacao(11, 10)

    div#modal.modal
      div.modal-content
        h4 Particpar do Evento
        h5 Você irá particiár do evento "Nome do Evento".
        p Tem certeza que quer participar desse evento?
      div.modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat(href="#") Confirmar
        a.modal-action.modal-close.waves-effect.btn-flat(href="#") Cancelar
